ul {
    padding: 0;
}

.simple-slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.arrow {
    font-size: 30px;
}

.slider {
    display: flex;
    width: 300px;
    overflow: hidden;
    margin: 0 10px;
}

.items {
    display: flex;
    position: relative;
    color: #444;
    font-size: 30px;
    right: 0;
    will-change: transform;
    transition: transform .3s;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: papayawhip;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 1px solid #444;
}

.wow {
    display: flex;
    justify-self: center;
    margin: 100px 900px
}

.btn {
    background: red;
    color: #fff;
    border-radius: 5px;
    padding: 10px 18px;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}